openapi: 3.0.3
info:
  title: Diaflow API
  description: |
    API for the Diaflow workflow automation platform.
    Diaflow is a GenAI app builder, enabling users to create
    workflows (flows), chat interfaces, pages, tables, vector knowledge bases,
    and more within workspaces.
  version: 1.0.0
  contact:
    name: Diaflow
    url: https://diaflow.app

servers:
  - url: https://api.diaflow.io/api/v1
    description: Production API

security:
  - bearerAuth: []
    apiKey: []

tags:
  - name: Auth
    description: Authentication and token management
  - name: Users
    description: User profile management
  - name: Workspaces
    description: Workspace management and settings
  - name: Builders
    description: Flow/builder CRUD and execution
  - name: Interfaces
    description: UI and chat interface configuration
  - name: Histories
    description: Execution history and run logs
  - name: Components
    description: Flow node components and configurations
  - name: Templates
    description: Community templates and categories
  - name: Documents
    description: Pages/documents management
  - name: Tables
    description: Workspace database tables
  - name: Drive
    description: S3 file storage
  - name: Vectors
    description: Vector groups and knowledge bases
  - name: Community
    description: Community profiles and badges
  - name: Members
    description: Workspace team members and invitations
  - name: API Keys
    description: Workspace API key management
  - name: Integrations
    description: Third-party integrations and credentials
  - name: Products
    description: Subscription products and plans
  - name: Conversations
    description: Conversation sessions, message processing, and execution polling
  - name: Chat
    description: Chat preset styles and agent windows
  - name: Prompts
    description: Sample prompts and categories

paths:
  # ──────────────────────────────────────────────
  # Auth
  # ──────────────────────────────────────────────
  /auth/login:
    post:
      tags: [Auth]
      summary: Login
      description: Authenticate a user with email and password, returning a session token.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        "200":
          description: Successful authentication
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionToken:
                    type: string
                  user:
                    $ref: "#/components/schemas/UserSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/logout:
    post:
      tags: [Auth]
      summary: Logout
      description: Invalidate the current session token.
      responses:
        "200":
          description: Successfully logged out
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/presign-token:
    get:
      tags: [Auth]
      summary: Get presigned token
      description: |
        Obtain a CloudFront presigned cookie set for accessing CDN-hosted workspace assets.
        Returns Policy, Signature, and Key-Pair-Id fields for CloudFront signed cookies,
        along with an expiration timestamp.
      responses:
        "200":
          description: Presigned CloudFront cookie parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  Policy:
                    type: string
                    description: CloudFront signed cookie policy (base64-encoded).
                    example: "eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoi..."
                  Signature:
                    type: string
                    description: CloudFront signed cookie signature.
                    example: "Qfk74~uctgwq6EN4id46-yX1KQJuvM5y..."
                  Key-Pair-Id:
                    type: string
                    description: CloudFront key pair identifier.
                    example: "K13E41YGHZSCC1"
                  expires_at:
                    type: integer
                    description: Unix timestamp when the presigned cookies expire.
                    example: 1773853354
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ──────────────────────────────────────────────
  # Users
  # ──────────────────────────────────────────────
  /users/me:
    get:
      tags: [Users]
      summary: Get current user
      description: Retrieve the authenticated user's full profile including account settings, social logins, and onboarding data.
      responses:
        "200":
          description: User profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
    patch:
      tags: [Users]
      summary: Update current user
      description: Update the authenticated user's profile fields.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fullName:
                  type: string
                avatar:
                  type: string
                username:
                  type: string
      responses:
        "200":
          description: Updated user profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  fullName:
                    type: string
                  email:
                    type: string
                  avatar:
                    type: string
                    nullable: true
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ──────────────────────────────────────────────
  # Workspaces
  # ──────────────────────────────────────────────
  /workspaces:
    get:
      tags: [Workspaces]
      summary: List workspaces
      description: List all workspaces accessible to the authenticated user.
      responses:
        "200":
          description: List of workspaces
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/WorkspaceSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /workspaces/{workspaceId}:
    get:
      tags: [Workspaces]
      summary: Get workspace
      description: Retrieve details for a specific workspace.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: Workspace details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Workspace"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Access denied to this workspace.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                detail: "You do not have permission to access this workspace."

  /workspaces/{workspaceId}/me:
    get:
      tags: [Workspaces]
      summary: Get my workspace membership
      description: Get the current user's membership details within the workspace.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: Workspace membership
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceMembership"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Access denied to this workspace.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                detail: "You do not have permission to access this workspace."

  /workspaces/{workspaceId}/subscription:
    get:
      tags: [Workspaces]
      summary: Get workspace subscription
      description: Retrieve the workspace's subscription and billing plan details.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: Subscription details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Subscription"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Access denied to this workspace.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                detail: "You do not have permission to access this workspace."

  # ──────────────────────────────────────────────
  # Builders (Flows)
  # ──────────────────────────────────────────────
  /workspaces/{workspaceId}/builders:
    get:
      tags: [Builders]
      summary: List builders
      description: |
        List all flow builders in the workspace with pagination.
        Returns a paginated list with builder metadata, inline interface/interfaceChat
        summaries for published builders, and the full flow graph (nodes, connectors) in the data field.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - name: page
          in: query
          description: Page number (1-indexed).
          schema:
            type: integer
            default: 1
            example: 1
        - name: pageSize
          in: query
          description: Number of builders per page.
          schema:
            type: integer
            default: 10
            example: 20
      responses:
        "200":
          description: Paginated list of builders
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedBuilders"
              example:
                total: 154
                results:
                  - title: "My Chatbot"
                    uniqueId: "wiLwtQlZEj"
                    id: 38288
                    workspaceId: 256
                    interfaceType: "chat"
                    triggerType: "inputs"
                    version: "draft"
                    isActive: true
                    enableAccess: false
                    enableApi: false
                    isSubflow: false
                    webhookEnable: false
                    runCount: 0
                    createdAt: "2025-11-18T12:52:28.486957Z"
                    updatedAt: "2025-11-18T12:52:28.486962Z"
                    createdBy:
                      id: 276
                      fullName: "User Name"
                      email: "user@example.com"
                    interface: null
                    interfaceChat: null
                    data:
                      connectors: []
                      nodes: []
        "401":
          $ref: "#/components/responses/Unauthorized"

  /builders:
    post:
      tags: [Builders]
      summary: Create builder
      description: Create a new flow builder in a workspace.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, interfaceType, workspaceId]
              properties:
                title:
                  type: string
                  description: Display name for the builder.
                  example: "My New Flow"
                interfaceType:
                  type: string
                  description: "Builder type: form, chat, automation, or scheduled."
                  enum: [form, chat, automation, scheduled]
                workspaceId:
                  type: integer
                  description: Workspace to create the builder in.
                  example: 256
      responses:
        "201":
          description: Created builder
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Builder"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /builders/{builderId}:
    get:
      tags: [Builders]
      summary: Get builder
      description: |
        Retrieve a specific flow builder by its uniqueId. Returns the full builder
        object including the flow graph (nodes, connectors) in the data field.
        The builderId parameter is the alphanumeric uniqueId (e.g. "pEBHQNskat"), not the numeric id.
      parameters:
        - $ref: "#/components/parameters/builderId"
      responses:
        "200":
          description: Builder details with full flow graph
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Builder"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Builders]
      summary: Update builder
      description: Update a builder's title, nodes, connectors, or other fields.
      parameters:
        - $ref: "#/components/parameters/builderId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Updated display name.
                data:
                  type: object
                  description: Updated flow graph data.
                  properties:
                    nodes:
                      type: array
                      items:
                        $ref: "#/components/schemas/FlowNode"
                    connectors:
                      type: array
                      items:
                        $ref: "#/components/schemas/Connector"
      responses:
        "200":
          description: Updated builder
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Builder"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [Builders]
      summary: Delete builder
      description: Permanently delete a flow builder by its uniqueId.
      parameters:
        - $ref: "#/components/parameters/builderId"
      responses:
        "204":
          description: Successfully deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /builders/{builderId}/publish:
    post:
      tags: [Builders]
      summary: Publish builder
      description: |
        Publish a draft builder to make it live. Changes the version from "draft" to "publish"
        and creates the associated interface and chat-interface records.
      parameters:
        - $ref: "#/components/parameters/builderId"
      responses:
        "200":
          description: Published builder
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Builder"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /builders/{builderId}/execute:
    post:
      tags: [Builders]
      summary: Execute builder
      description: Trigger a flow builder execution with input data.
      parameters:
        - $ref: "#/components/parameters/builderId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: object
                  description: Input data for the flow trigger node.
                mode:
                  type: string
                  description: Execution mode.
      responses:
        "200":
          description: Execution result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecutionResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ──────────────────────────────────────────────
  # Interfaces
  # ──────────────────────────────────────────────
  /interfaces/{builderId}:
    get:
      tags: [Interfaces]
      summary: Get builder interface
      description: |
        Retrieve the form/app interface configuration for a published builder.
        The builderId is the alphanumeric uniqueId. Returns 404 if the builder
        has not been published or does not exist.
      parameters:
        - $ref: "#/components/parameters/builderId"
      responses:
        "200":
          description: Interface configuration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Interface"
              example:
                id: 4294
                name: "App #Dx6c64YWYk"
                primaryColor: null
                buttonTheme: null
                widgetTheme: null
                botLogo: null
                banner: null
                welcomeMessage: null
                isHidePowered: false
                component:
                  - id: "1760502826936"
                    error: false
                    title: "Legal"
                    value: "{{}}"
                    result: null
                    is_done: false
                    node_type: "fixed"
                    config_type: "output"
                    output_type: "text"
                    is_formatted: true
                    error_message: ""
                builderCode: "Dx6c64YWYk"
                security: "public"
                lastInteraction: "2025-10-15T04:34:35.379436Z"
                description: null
                newVersion: null
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /chat-interfaces/{builderId}:
    get:
      tags: [Interfaces]
      summary: Get chat interface
      description: |
        Retrieve the chat interface configuration for a published builder.
        Includes chat widget styling, welcome messages, opening questions,
        contact collection settings, and the embedded builder flow graph.
        Returns 404 if the builder has not been published or does not exist.
      parameters:
        - $ref: "#/components/parameters/builderId"
      responses:
        "200":
          description: Chat interface configuration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatInterface"
              example:
                id: 4192
                title: "App #Dx6c64YWYk"
                tagline: "Dazzle your customer with super-charged chatbot"
                logo: null
                cover: null
                widgetTheme: "creative"
                primaryColor: "#F4F2EE"
                isHidePowered: false
                callToActionButton: "Hi there! 👋"
                callToActionButtonSubtitle: "Chat with us"
                isShowContact: true
                isAskCustomerInformation: true
                hasAllowChatAsGuest: true
                welcomeMessage: "Hi there! 👋 I'm here to help you."
                builderCode: "Dx6c64YWYk"
                security: "public"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /chat-interfaces/app/{appId}:
    get:
      tags: [Interfaces]
      summary: Get public chat interface
      description: |
        Retrieve a public chat interface by its public app ID (builderCode).
        Only requires API key authentication.
      security:
        - apiKey: []
      parameters:
        - name: appId
          in: path
          required: true
          description: The builder's uniqueId (builderCode).
          schema:
            type: string
            example: "Dx6c64YWYk"
      responses:
        "200":
          description: Public chat interface
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatInterface"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ──────────────────────────────────────────────
  # Histories
  # ──────────────────────────────────────────────
  /workspaces/{workspaceId}/histories:
    get:
      tags: [Histories]
      summary: List execution histories
      description: |
        List execution histories (run logs) for the workspace with pagination.
        Each history record includes session info, builder reference, execution status,
        per-node action results, credit usage, latency, and the triggering API key details.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - name: page
          in: query
          description: Page number (1-indexed).
          schema:
            type: integer
            default: 1
            example: 1
        - name: pageSize
          in: query
          description: Number of history records per page.
          schema:
            type: integer
            default: 10
            example: 20
      responses:
        "200":
          description: Paginated execution histories
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedHistories"
              example:
                total: 334
                results:
                  - id: 1058915
                    sessionId: "24f2aee6-cc4f-4631-95fd-a9f92a595189"
                    builderId: 45805
                    templateId: null
                    userId: 276
                    workspaceId: 256
                    status: "Completed"
                    section: "Preview on website"
                    input: null
                    output: null
                    models: ["claude-4.5-opus"]
                    latency: 4.49
                    logType: "Chat app"
                    via: "Test"
                    credit: 0
                    totalConversation: 0
                    start: "2025-07-21T12:38:48.573871Z"
                    end: "2025-07-21T12:38:53.067279Z"
                    createdAt: "2025-07-21T12:38:48.487884Z"
                    updatedAt: "2025-07-21T12:38:53.072608Z"
                    meta: {}
                    builder:
                      title: "App #2cz0BxX413"
                      uniqueId: "2cz0BxX413"
                      isInternalApp: null
                      version: "draft"
                      interfaceType: "form"
                      interface: null
                      deletedAt: null
                    user:
                      id: 276
                      email: "user@example.com"
                      fullName: "User Name"
                      avatar: "https://example.com/avatar.jpg"
                      color: "#9c899e"
                      credit: null
                      isProfileVerified: null
                    apiKey: null
        "401":
          $ref: "#/components/responses/Unauthorized"

  /workspaces/{workspaceId}/histories/{historyId}:
    get:
      tags: [Histories]
      summary: Get execution history detail
      description: |
        Retrieve details of a specific execution by its numeric id.
        Returns the same shape as a list item, including the full per-node action
        map with input/output/latency for each node, and the output data.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - name: historyId
          in: path
          required: true
          description: Numeric history record ID.
          schema:
            type: integer
            example: 370391
      responses:
        "200":
          description: Execution history detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HistoryDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: Invalid history ID format (e.g. passing a sessionId UUID instead of numeric id).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ──────────────────────────────────────────────
  # Components & Node Configs
  # ──────────────────────────────────────────────
  /components:
    get:
      tags: [Components]
      summary: List components
      description: |
        List all available flow node component types (AI models, integrations, utilities, etc.).
        Returns a paginated response with total count and an array of component objects.
      responses:
        "200":
          description: Paginated list of components
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of available components.
                    example: 203
                  results:
                    type: array
                    description: Array of component objects.
                    items:
                      $ref: "#/components/schemas/Component"
              example:
                total: 203
                results:
                  - id: 225
                    icon: null
                    title: "OpenRouter (BYOK)"
                    description: "Use OpenRouter's models with your own API Key"
                    nodeId: "openrouterc"
                    isRoot: true
                    isPipedream: false
                    isActive: true
                    priority: 173
                    infoLink: "https://docs.diaflow.io/flows/component-reference/public-ai-llm-models/openrouter"
                    numAction: 0
                    categories:
                      - id: 122
                        name: "Public AI/LLM Models"
                        icon: "public/production/admin/component-categories/icon/key-regular.svg"
                        priority: 7
                        isActive: true
                        numComponent: 12
        "401":
          $ref: "#/components/responses/Unauthorized"

  /node-configs/model-configs:
    get:
      tags: [Components]
      summary: Get model configurations
      description: |
        Get available AI model configurations for LLM nodes, keyed by provider identifier.
        Each provider maps to an array of model configuration objects with model name, capabilities, and supported file formats.
      responses:
        "200":
          description: Model configurations keyed by provider
          content:
            application/json:
              schema:
                type: object
                description: |
                  Object keyed by provider identifier. Each value is an array of ModelConfig objects.
                  Known provider keys include: antpc, llama, cohere, openai, default, mistral, byteplus,
                  anthropic, firecrawl, vertex-ai, gemini-image, byteplus-image, diaflow-models,
                  image-generation, video-generation.
                additionalProperties:
                  type: array
                  items:
                    $ref: "#/components/schemas/ModelConfig"
              example:
                openai:
                  - model: "gpt-5-mini"
                    is_active: true
                    is_memory: true
                    max_token: 120000
                    model_type: "gpt-5"
                    description: "Smaller, faster variant offering excellent balance between speed and capability."
                    file_formats: [".jpg,.jpeg", ".png", ".webp", ".docx", ".txt", ".pdf", ".srt"]
                    params:
                      speed: 4
                      intelligence: 4
                anthropic:
                  - name: "Claude 4 Sonnet"
                    model: "claude-4-sonnet-20250514"
                    is_active: true
                    is_memory: true
                    model_type: "chat"
                    file_formats: [".jpg,.jpeg", ".png", ".webp", ".docx", ".txt", ".pdf"]
                llama:
                  - name: "Llama 3.2 11B Vision Instruct"
                    model: "us.meta.llama3-2-11b-instruct-v1:0"
                    is_active: true
                    model_type: "multimodal"
                    file_formats: [".jpg,.jpeg", ".png", ".webp", ".docx", ".txt", ".pdf", ".srt"]
        "401":
          $ref: "#/components/responses/Unauthorized"

  /node-configs/component-prices:
    get:
      tags: [Components]
      summary: Get component prices
      description: |
        Get credit pricing for each flow component type.
        Returns an object keyed by node ID, where each value contains the node's pricing tiers grouped by model/variant.
      responses:
        "200":
          description: Component pricing keyed by node ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  components:
                    type: object
                    description: Pricing data keyed by component node ID.
                    additionalProperties:
                      $ref: "#/components/schemas/ComponentPricing"
              example:
                components:
                  gemini:
                    node_id: "gemini"
                    prices:
                      gemini-2.5-flash:
                        - node_id: "gemini"
                          unit: "token"
                          model: "gemini-2.5-flash"
                          input_cost: 0.0001
                          output_cost: 0.0002
                          variant: null
                          is_active: true
                          priority: 8
                          id: 66
                  data-json:
                    node_id: "data-json"
                    prices:
                      data-json:
                        - node_id: "data-json"
                          unit: "request"
                          model: "data-json"
                          input_cost: 0.0
                          output_cost: 0.0
                          is_active: true
                          priority: 1
                          id: 38
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ──────────────────────────────────────────────
  # Templates & Community
  # ──────────────────────────────────────────────
  /template-categories:
    get:
      tags: [Templates]
      summary: List template categories
      description: |
        List categories used to organize community flow templates.
        Returns all categories (both active and inactive) with their metadata.
      responses:
        "200":
          description: Template categories
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of template categories.
                    example: 12
                  results:
                    type: array
                    description: Array of template category objects.
                    items:
                      $ref: "#/components/schemas/TemplateCategory"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /templates/public:
    get:
      tags: [Templates]
      summary: List public templates
      description: |
        List publicly shared flow templates from the community.
        Supports pagination via query parameters. Returns templates with their
        categories, usage count, key features, and flow graph data.
      parameters:
        - name: page
          in: query
          description: Page number (1-based).
          schema:
            type: integer
            default: 1
            example: 1
        - name: pageSize
          in: query
          description: Number of templates per page.
          schema:
            type: integer
            default: 10
            example: 10
      responses:
        "200":
          description: Paginated list of public templates.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of public templates.
                    example: 474
                  results:
                    type: array
                    description: Array of template objects for the current page.
                    items:
                      $ref: "#/components/schemas/Template"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /community/profile/me:
    get:
      tags: [Community]
      summary: Get my community profile
      description: |
        Retrieve the current user's community profile.
        Returns 404 if the user has not created a community profile yet.
      responses:
        "200":
          description: Community profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommunityProfile"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Community profile not found for the authenticated user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                detail: "Community profile not found"

  /badges/current:
    get:
      tags: [Community]
      summary: Get current badge/announcement
      description: |
        Get the current active badge or announcement banner.
        Returns a single announcement object with title, category, content,
        and an optional redirect URL. This is typically used to display
        news banners or notifications in the UI.
      responses:
        "200":
          description: Current badge/announcement
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Badge"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ──────────────────────────────────────────────
  # Documents (Pages)
  # ──────────────────────────────────────────────
  /documents:
    get:
      tags: [Documents]
      summary: List documents
      description: >-
        List all pages/documents in the workspace. Returns a paginated list
        with document metadata, content, AI configuration, and creator info.
      responses:
        "200":
          description: Paginated list of documents.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of documents in the workspace.
                    example: 5
                  results:
                    type: array
                    description: Array of document objects.
                    items:
                      $ref: "#/components/schemas/Document"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Documents]
      summary: Create document
      description: Create a new page/document in the workspace.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title:
                  type: string
                  description: Document title.
                  example: "Meeting Notes"
                data:
                  type: string
                  description: Document content in markdown or plain text.
                description:
                  type: string
                  nullable: true
                  description: Optional short description.
                language:
                  type: string
                  nullable: true
                  description: Content language (e.g. "auto-detect", "english").
                writingStyle:
                  type: string
                  nullable: true
                  description: AI writing style preset.
                  enum: [Expert, Balanced, Creative]
                writingLength:
                  type: string
                  nullable: true
                  description: AI writing length preset.
                  enum: [Auto, Short, Long]
                llmModel:
                  type: string
                  nullable: true
                  description: LLM model to use for AI features.
                  example: "gpt-5-mini"
                llmProvider:
                  type: string
                  nullable: true
                  description: LLM provider name.
                  example: "Open AI"
                vectorSource:
                  type: string
                  nullable: true
                  description: Knowledge source mode for AI.
                  example: "notUsingKnowledgeSource"
      responses:
        "201":
          description: Created document.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Document"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /documents/config:
    get:
      tags: [Documents]
      summary: Get documents config
      description: >-
        Get the pages feature configuration including available AI features,
        LLM providers/models, writing styles, and writing length presets.
      responses:
        "200":
          description: Documents feature configuration.
          content:
            application/json:
              schema:
                type: object
                properties:
                  features:
                    type: array
                    description: Available AI writing features (fix grammar, translate, summarize, etc.).
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: Feature identifier code.
                          example: "fix-spelling-and-grammar"
                        name:
                          type: string
                          description: Human-readable feature name.
                          example: "Fix spelling and grammar"
                        subGroup:
                          type: array
                          nullable: true
                          description: Sub-options for features like tone or translate.
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                                example: "English"
                              sub_code:
                                type: string
                                example: "english"
                  llm_provider:
                    type: object
                    description: Available LLM providers and their models.
                    additionalProperties:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: Display name of the model.
                            example: "gpt-5-mini"
                          model:
                            type: string
                            description: Model identifier string.
                            example: "gpt-5-mini"
                    example:
                      Open AI:
                        - name: "gpt-5-mini"
                          model: "gpt-5-mini"
                      Anthropic:
                        - name: "claude-4-sonnet"
                          model: "claude-4-sonnet"
                  writing_style:
                    type: object
                    description: >-
                      Writing style presets (Expert, Balanced, Creative) with per-model
                      LLM parameters (top_p, temperature, presence_penalty, frequency_penalty).
                    additionalProperties:
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          top_p:
                            type: number
                          temperature:
                            type: number
                          presence_penalty:
                            type: number
                          frequency_penalty:
                            type: number
                  writing_length:
                    type: object
                    description: >-
                      Writing length presets (Auto, Short, Long) with per-model
                      max_length token limits.
                    additionalProperties:
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          max_length:
                            type: integer
                            example: 4000
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ──────────────────────────────────────────────
  # Tables
  # ──────────────────────────────────────────────
  /workspace-databases/{workspaceId}/tables:
    get:
      tags: [Tables]
      summary: List database table schemas
      description: >-
        List all database tables for a workspace with their column definitions.
        Returns an array of table objects, each containing the table name and
        its column schema (name and data_type for each column). This endpoint
        is useful for inspecting the raw database structure.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: Array of table schema objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TableSchema"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /workspace-db-tables/workspace/{workspaceId}:
    get:
      tags: [Tables]
      summary: List DB tables (metadata)
      description: >-
        List database tables for a workspace with metadata (row count, column count,
        creation date, active status). Returns a paginated result with total count.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: Paginated list of table metadata.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of tables.
                    example: 4
                  results:
                    type: array
                    description: Array of table metadata objects.
                    items:
                      $ref: "#/components/schemas/Table"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /workspace-databases/{workspaceId}/ddl/tables:
    post:
      tags: [Tables]
      summary: Create empty table
      description: >-
        Creates a new empty database table in the workspace. The table is auto-named
        (e.g., table_35). Rename afterward via PUT /workspace-databases/{workspaceId}/sql
        with ALTER TABLE ... RENAME TO ... SQL.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Empty object to create a table with default columns.
              example: {}
      responses:
        "200":
          description: Table created successfully.
        "401":
          $ref: "#/components/responses/Unauthorized"

  /workspace-databases/{workspaceId}/ddl/columns:
    post:
      tags: [Tables]
      summary: Add column to table
      description: Add a new column to an existing database table.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tableName, columnName, displayDataType, dataType]
              properties:
                tableName:
                  type: string
                  example: "01_products"
                columnName:
                  type: string
                  example: "created_date"
                displayDataType:
                  type: string
                  description: UI display type.
                  enum: [single_line_text, long_text, number, date, checkbox]
                  example: "date"
                dataType:
                  type: string
                  description: PostgreSQL data type.
                  enum: [character varying, text, real, integer, "timestamp with time zone", boolean]
                  example: "timestamp with time zone"
                isRequired:
                  type: boolean
                  example: false
                defaultValue:
                  type: string
                  nullable: true
                  example: "null"
      responses:
        "200":
          description: Column added successfully.
        "401":
          $ref: "#/components/responses/Unauthorized"

  /workspace-databases/{workspaceId}/ddl/columns/rename:
    patch:
      tags: [Tables]
      summary: Rename column
      description: Rename a column in a database table.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tableName, oldColumnName, newColumnName]
              properties:
                tableName:
                  type: string
                  example: "01_products"
                oldColumnName:
                  type: string
                  example: "description"
                newColumnName:
                  type: string
                  example: "product_description"
      responses:
        "200":
          description: Column renamed successfully.
        "401":
          $ref: "#/components/responses/Unauthorized"

  /workspace-databases/{workspaceId}/ddl/columns/config:
    patch:
      tags: [Tables]
      summary: Update column configuration
      description: Update column settings including data type, required flag, and default value.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tableName, columnName]
              properties:
                tableName:
                  type: string
                  example: "01_products"
                columnName:
                  type: string
                  example: "name"
                newColumnName:
                  type: string
                  example: "name"
                displayDataType:
                  type: string
                  example: "single_line_text"
                dataType:
                  type: string
                  example: "character varying"
                isRequired:
                  type: boolean
                  example: true
                defaultValue:
                  type: string
                  nullable: true
                  example: "abc"
      responses:
        "200":
          description: Column configuration updated.
        "401":
          $ref: "#/components/responses/Unauthorized"

  /workspace-databases/{workspaceId}/tables/columns:
    post:
      tags: [Tables]
      summary: Get table columns
      description: Get column definitions for a specific table.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tableName]
              properties:
                tableName:
                  type: string
                  example: "01_products"
      responses:
        "200":
          description: Array of column definitions.
        "401":
          $ref: "#/components/responses/Unauthorized"

  /workspace-databases/{workspaceId}/tables/items:
    post:
      tags: [Tables]
      summary: Get table rows (paginated)
      description: >-
        Retrieve rows from a table with pagination, ordering, and filtering.
        Filter is passed as URL-encoded JSON in query params.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: orderBy
          in: query
          schema:
            type: string
            example: "-diaflow_created_at"
          description: Column to order by. Prefix with - for descending.
        - name: filter
          in: query
          schema:
            type: string
            example: '{"status":"Pending"}'
          description: URL-encoded JSON filter object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tableName]
              properties:
                tableName:
                  type: string
                  example: "01_chatcrm"
      responses:
        "200":
          description: Paginated table rows.
        "401":
          $ref: "#/components/responses/Unauthorized"

  /workspace-databases/{workspaceId}/dml/row:
    post:
      tags: [Tables]
      summary: Insert row
      description: Insert a new row into a table with specified column values.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tableName, cellValuesByColumnName]
              properties:
                tableName:
                  type: string
                  example: "01_orders"
                cellValuesByColumnName:
                  type: object
                  additionalProperties:
                    nullable: true
                  example:
                    name: "John Doe"
                    phone: "0901234567"
                    product_name: "Áo polo"
      responses:
        "200":
          description: Row inserted successfully.
        "401":
          $ref: "#/components/responses/Unauthorized"
    delete:
      tags: [Tables]
      summary: Delete rows
      description: Delete one or more rows by their diaflow_id.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tableName, rowIds]
              properties:
                tableName:
                  type: string
                  example: "01_orders"
                rowIds:
                  type: array
                  items:
                    type: string
                  example: ["63169dc5-f8f5-45cd-95f8-66b8107ad511"]
      responses:
        "200":
          description: Rows deleted successfully.
        "401":
          $ref: "#/components/responses/Unauthorized"

  /workspace-databases/{workspaceId}/dml/row/clear:
    put:
      tags: [Tables]
      summary: Clear row values
      description: Reset/clear all values in specified rows (keeps the rows but nullifies values).
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tableName, rowIds]
              properties:
                tableName:
                  type: string
                  example: "01_products"
                rowIds:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Rows cleared successfully.
        "401":
          $ref: "#/components/responses/Unauthorized"

  /workspace-databases/{workspaceId}/sql:
    put:
      tags: [Tables]
      summary: Execute raw SQL
      description: >-
        Execute raw SQL statements against the workspace database.
        Supports UPDATE, ALTER TABLE (rename), and other DDL/DML operations.
        Table and column names must be quoted with double quotes.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sql]
              properties:
                sql:
                  type: string
                  description: SQL statement to execute.
                  example: "UPDATE \"01_chatcrm\" SET \"status\" = 'Done' WHERE diaflow_id = 'uuid'"
      responses:
        "200":
          description: SQL executed successfully.
        "401":
          $ref: "#/components/responses/Unauthorized"

  /workspace-databases/{workspaceId}/csv-schema:
    post:
      tags: [Tables]
      summary: Parse CSV schema
      description: >-
        Parse a CSV file to extract column schema before importing.
        The file must be previously uploaded to Diaflow Drive.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [file, isTreatFirstRowAsHeader]
              properties:
                file:
                  type: string
                  description: Drive path to the CSV file.
                  example: "production/workspace_256/products.csv"
                isTreatFirstRowAsHeader:
                  type: boolean
                  example: true
      responses:
        "200":
          description: Parsed column schema from CSV.
        "401":
          $ref: "#/components/responses/Unauthorized"

  /workspace-databases/{workspaceId}/upsert-table:
    post:
      tags: [Tables]
      summary: Import CSV into table
      description: >-
        Create a new table or update an existing table by importing data from a CSV file.
        Specify column mappings, data types, and primary key configuration.
        Note: table names starting with a letter may conflict with reserved names;
        prefix with numbers (e.g., 01_products) if needed.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tableName, isTreatFirstRowAsHeader, fields, file]
              properties:
                tableName:
                  type: string
                  example: "01_products"
                isTreatFirstRowAsHeader:
                  type: boolean
                  example: true
                isNewPrimaryKey:
                  type: boolean
                  example: true
                usingPrimaryKey:
                  type: string
                  example: ""
                isNewTable:
                  type: boolean
                  example: true
                file:
                  type: string
                  description: Drive path to CSV file.
                  example: "production/workspace_256/products.csv"
                fields:
                  type: array
                  items:
                    type: object
                    properties:
                      column:
                        type: string
                        example: "name"
                      dataType:
                        type: string
                        example: "text"
                      displayDataType:
                        type: string
                        example: "long_text"
                      isNull:
                        type: boolean
                        example: false
                      isDisplayId:
                        type: boolean
                        example: false
                      isDisable:
                        type: boolean
                        example: false
      responses:
        "200":
          description: Table created/updated with imported data.
        "400":
          description: Bad request (e.g., table name conflict with reserved names).
        "401":
          $ref: "#/components/responses/Unauthorized"

  /workspace-databases/{workspaceId}/export:
    post:
      tags: [Tables]
      summary: Export table data
      description: Export table data as CSV or downloadable content.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tableName]
              properties:
                tableName:
                  type: string
                  example: "01_products"
      responses:
        "200":
          description: Exported table data.
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ──────────────────────────────────────────────
  # Drive (S3 Storage)
  # ──────────────────────────────────────────────
  /drives/s3/directory:
    get:
      tags: [Drive]
      summary: List drive files
      description: >-
        List files and directories in the workspace's S3 drive storage.
        Returns file/folder metadata including size, MIME type, S3 key,
        and parent folder. Both files and folders are returned in a flat list.
      responses:
        "200":
          description: Drive directory listing with counts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of items (files + folders).
                    example: 11
                  fileCount:
                    type: integer
                    description: Number of files in the listing.
                    example: 3
                  folderCount:
                    type: integer
                    description: Number of folders in the listing.
                    example: 8
                  results:
                    type: array
                    description: Array of file and folder objects.
                    items:
                      $ref: "#/components/schemas/DriveFile"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /drives/s3/upload:
    post:
      tags: [Drive]
      summary: Upload file
      description: Upload a file to the S3 drive storage.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: Uploaded file info
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    type: string
                    description: S3 object key of the uploaded file.
                    example: "production/workspace_256/report.csv"
                  url:
                    type: string
                    description: Public URL of the uploaded file.
                    example: "https://s3.amazonaws.com/bucket/production/workspace_256/report.csv"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ──────────────────────────────────────────────
  # Vectors
  # ──────────────────────────────────────────────
  /workspaces/{workspaceId}/vector-groups:
    get:
      tags: [Vectors]
      summary: List vector groups
      description: >-
        List vector groups (knowledge bases) in the workspace. Each group
        includes a title, description, vector count, and usage statistics.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: Paginated list of vector groups.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of vector groups.
                    example: 16
                  results:
                    type: array
                    description: Array of vector group summary objects.
                    items:
                      $ref: "#/components/schemas/VectorGroupSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /workspaces/{workspaceId}/vectors:
    get:
      tags: [Vectors]
      summary: List workspace vectors
      description: >-
        List all vectors (knowledge base items) across all groups in the workspace.
        Each vector includes its source type (Document, Article, Website), status,
        associated groups, processing log, and file metadata.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: Paginated list of vectors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of vectors.
                    example: 21
                  results:
                    type: array
                    description: Array of vector objects.
                    items:
                      $ref: "#/components/schemas/Vector"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /vector-groups:
    post:
      tags: [Vectors]
      summary: Create vector group
      description: Create a new vector group (knowledge base).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, workspaceId]
              properties:
                name:
                  type: string
                description:
                  type: string
                workspaceId:
                  type: integer
      responses:
        "201":
          description: Created vector group
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  createdAt:
                    type: string
                    format: date-time
        "401":
          $ref: "#/components/responses/Unauthorized"

  /vector-groups/{groupId}:
    get:
      tags: [Vectors]
      summary: Get vector group
      description: Retrieve details of a specific vector group.
      parameters:
        - $ref: "#/components/parameters/groupId"
      responses:
        "200":
          description: Vector group details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VectorGroup"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /vector-groups/{groupId}/vector-ids:
    get:
      tags: [Vectors]
      summary: List vector IDs in group
      description: List all vector IDs and their metadata within a vector group.
      parameters:
        - $ref: "#/components/parameters/groupId"
      responses:
        "200":
          description: Vector IDs
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        metadata:
                          type: object
        "401":
          $ref: "#/components/responses/Unauthorized"

  /vectors/stream/{workspaceId}:
    post:
      tags: [Vectors]
      summary: Vector similarity search
      description: Perform a similarity search against vectors in a workspace group.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query, groupId]
              properties:
                query:
                  type: string
                groupId:
                  type: integer
                topK:
                  type: integer
                  default: 5
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/VectorSearchResult"
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ──────────────────────────────────────────────
  # Members
  # ──────────────────────────────────────────────
  /workspaces/{workspaceId}/members:
    get:
      tags: [Members]
      summary: List workspace members
      description: >-
        List all members of the workspace (Team page). Returns both accepted
        members and pending invitations. Each member includes a nested `user`
        object (null for pending invitations where the user hasn't registered)
        and a nested `workspace` summary.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: Paginated list of workspace members.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of members (including pending invitations).
                    example: 7
                  results:
                    type: array
                    description: Array of member objects.
                    items:
                      $ref: "#/components/schemas/Member"
        "401":
          description: Unauthorized – missing or invalid bearer token.

  /workspaces/{workspaceId}/members/invite:
    post:
      tags: [Members]
      summary: Invite member
      description: Invite a new member to the workspace by email.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, role]
              properties:
                email:
                  type: string
                  format: email
                role:
                  type: string
      responses:
        "201":
          description: Invitation sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  inviteId:
                    type: string
                  email:
                    type: string
                  status:
                    type: string
                    example: pending
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ──────────────────────────────────────────────
  # API Keys
  # ──────────────────────────────────────────────
  /workspaces/{workspaceId}/api-keys:
    get:
      tags: [API Keys]
      summary: List API keys
      description: >-
        List all API keys for the workspace. Returns the full key value for
        each key (unlike many APIs that mask it). Keys are returned with usage
        statistics.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: Paginated list of API keys.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of API keys.
                    example: 2
                  results:
                    type: array
                    description: Array of API key objects.
                    items:
                      $ref: "#/components/schemas/ApiKeySummary"
        "401":
          description: Unauthorized – missing or invalid bearer token.
    post:
      tags: [API Keys]
      summary: Create API key
      description: Create a new API key for the workspace.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
      responses:
        "201":
          description: Created API key (key value shown only once)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKey"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /workspaces/{workspaceId}/api-keys/{keyId}:
    delete:
      tags: [API Keys]
      summary: Delete API key
      description: Permanently delete an API key.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - name: keyId
          in: path
          required: true
          description: Numeric ID of the API key to delete.
          schema:
            type: integer
      responses:
        "204":
          description: Successfully deleted
        "401":
          description: Unauthorized – missing or invalid bearer token.

  # ──────────────────────────────────────────────
  # Integrations
  # ──────────────────────────────────────────────
  /workspaces/{workspaceId}/integrations:
    get:
      tags: [Integrations]
      summary: List integrations
      description: >-
        List all third-party integrations and credentials for the workspace.
        Note: This endpoint may return 404 if no integrations feature is
        enabled for the workspace.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: List of integrations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/Integration"
        "401":
          description: Unauthorized – missing or invalid bearer token.
        "404":
          description: Not found – integrations feature may not be available for this workspace.
    post:
      tags: [Integrations]
      summary: Create integration
      description: Add a new third-party integration or credential.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, name, config]
              properties:
                type:
                  type: string
                name:
                  type: string
                config:
                  type: object
      responses:
        "201":
          description: Created integration
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                  name:
                    type: string
                  status:
                    type: string
                    example: active
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ──────────────────────────────────────────────
  # Products
  # ──────────────────────────────────────────────
  /products/{productId}:
    get:
      tags: [Products]
      summary: Get product
      description: |
        Retrieve subscription product/plan details by ID.
        Returns pricing, credit allocations, resource limits, and feature flags
        for a specific product plan.
      parameters:
        - name: productId
          in: path
          required: true
          description: Numeric product ID.
          schema:
            type: integer
            example: 72
      responses:
        "200":
          description: Product details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ──────────────────────────────────────────────
  # Conversations & Execution
  # ──────────────────────────────────────────────

  /conversations:
    post:
      tags: [Conversations]
      summary: Create a new conversation
      description: |
        Create a new conversation session for a chat flow.
        Used by the Preview panel and chat interfaces to start a new chat session.
        Requires the `Workspace-Id` header.
      parameters:
        - name: Workspace-Id
          in: header
          required: true
          schema:
            type: string
          description: The workspace ID.
          example: "256"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationCreateRequest"
            example:
              isTest: true
              defaultFirstMessage: ["Hi there! Welcome!"]
              builderId: 46954
              type: "chat"
              title: "2026-03-19T09:03:59.188Z"
      responses:
        "200":
          description: Conversation created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
              example:
                title: "2026-03-19T09:03:59.188Z"
                builderId: 46954
                isRead: false
                type: "chat"
                isTest: true
                id: 180137
                createdById: 4606
                createdBy: null
                createdAt: "2026-03-19T09:05:50.256730Z"
                channelId: "e38bc883-5f1e-40b8-a4b7-b237ee061ce0"
                createdOn: null
                lastInteraction: null
                totalPrompt: 0
                meta: null
                updatedAt: "2026-03-19T09:05:50.256733Z"
                via: "test"
                customization: null
                duration: null
        "401":
          $ref: "#/components/responses/Unauthorized"

  /conversations/{conversationId}/process:
    post:
      tags: [Conversations]
      summary: Send a message / trigger flow execution
      description: |
        Send a user message to an existing conversation, triggering the flow execution.
        Returns a process UUID that can be used to poll for execution status via the
        process-checks endpoint.
        Requires the `Workspace-Id` header.
      parameters:
        - name: conversationId
          in: path
          required: true
          schema:
            type: integer
          description: The conversation ID returned from POST /conversations.
          example: 180137
        - name: Workspace-Id
          in: header
          required: true
          schema:
            type: string
          description: The workspace ID.
          example: "256"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationProcessRequest"
            example:
              input: "Hello, I want to buy a shirt"
      responses:
        "200":
          description: Flow execution started. Use the returned id/sessionId to poll for results.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConversationProcessResponse"
              example:
                sessionId: "6d2eea35-b239-468c-8523-0f49034c3fc7"
                status: "Processing"
                createdAt: "2026-03-18T17:15:33.145166"
                id: "6d2eea35-b239-468c-8523-0f49034c3fc7"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /conversations/{conversationId}/process-checks/{processUuid}:
    get:
      tags: [Conversations]
      summary: Poll for execution completion
      description: |
        Poll for the status of a flow execution. Called repeatedly (~1 second interval)
        until the flow finishes processing.

        The response includes:
        - `status`: "Processing" while running, "Done" on success, "Error" on failure.
        - `node`: Array of per-node status objects showing real-time execution progress.
        - `result`: Object keyed by node ID with detailed execution data (latency, input, output).
        - `total_step`: Total number of steps in the flow.
        - `workspace_id`: The workspace ID.

        **Polling pattern:** Keep calling this endpoint every ~1 second until `status`
        is no longer "Processing". Complex flows with multiple AI nodes can take 30-40+ seconds.
      parameters:
        - name: conversationId
          in: path
          required: true
          schema:
            type: integer
          description: The conversation ID.
          example: 180137
        - name: processUuid
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The process UUID returned from POST /conversations/{id}/process.
          example: "6d2eea35-b239-468c-8523-0f49034c3fc7"
        - name: Workspace-Id
          in: header
          required: true
          schema:
            type: string
          description: The workspace ID.
          example: "256"
      responses:
        "200":
          description: Current execution status with per-node results.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProcessCheckResponse"
              example:
                status: "Done"
                node:
                  - trigger:
                      status: "Done"
                      time: 0.007
                      metaContent: "Get value from input"
                      message: null
                      output:
                        input: "Hello, I want to buy a shirt"
                        attachment: []
                      input: {}
                  - openai-0:
                      status: "Done"
                      time: 3.5
                      metaContent: "OpenAI"
                      message: null
                      output: "AI response text..."
                      input: {}
                result:
                  trigger:
                    start: 1773911159.26
                    end: 1773911159.27
                    latency: 0.007
                    input_cf: {}
                    node_order: 0
                total_step: 18
                workspace_id: 256
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ──────────────────────────────────────────────
  # Chat & Prompts
  # ──────────────────────────────────────────────
  /chat-preset-styles:
    get:
      tags: [Chat]
      summary: List chat preset styles
      description: |
        Get preset writing style configurations for chat interfaces.
        Each style contains a system prompt that instructs the LLM on tone,
        format, and language behavior. Styles can be admin-preset or user-created.
      responses:
        "200":
          description: Paginated list of chat preset styles.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of preset styles.
                    example: 5
                  results:
                    type: array
                    description: Array of chat preset style objects.
                    items:
                      $ref: "#/components/schemas/ChatPresetStyle"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /agent-chat-windows:
    get:
      tags: [Chat]
      summary: List agent chat windows
      description: |
        List agent chat window configurations for the workspace.
        Returns chat window instances that can be embedded or used as standalone agents.
      responses:
        "200":
          description: Paginated list of agent chat windows.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of agent chat windows.
                    example: 0
                  results:
                    type: array
                    description: Array of agent chat window objects.
                    items:
                      $ref: "#/components/schemas/AgentChatWindow"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /sample-prompt-categories:
    get:
      tags: [Prompts]
      summary: List sample prompt categories
      description: |
        Get categories for sample prompts shown on the dashboard.
        Categories are typed as either "shortcut" (text-based prompts) or
        "tools" (linked to specific node types like image/video generation).
      responses:
        "200":
          description: Paginated list of prompt categories.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of sample prompt categories.
                    example: 9
                  results:
                    type: array
                    description: Array of sample prompt category objects.
                    items:
                      $ref: "#/components/schemas/SamplePromptCategory"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /prompt-samples/llm:
    get:
      tags: [Prompts]
      summary: List LLM prompt samples
      description: |
        Get sample LLM prompt templates for use in flow nodes.
        Each sample includes a structured prompt with role, objective,
        processing instructions, and output format. Samples may include
        multilingual name/prompt/description values.
      responses:
        "200":
          description: Paginated list of LLM prompt samples.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of LLM prompt samples.
                    example: 10
                  results:
                    type: array
                    description: Array of prompt sample objects.
                    items:
                      $ref: "#/components/schemas/PromptSample"
        "401":
          $ref: "#/components/responses/Unauthorized"

# ══════════════════════════════════════════════════
# Components
# ══════════════════════════════════════════════════
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Session token obtained from /auth/login
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Workspace API key

  responses:
    Unauthorized:
      description: Authentication failed - invalid or expired Bearer token or API key.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            detail: "Not authenticated"
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            detail: "Not found"

  parameters:
    workspaceId:
      name: workspaceId
      in: path
      required: true
      schema:
        type: integer
      description: Workspace ID
    builderId:
      name: builderId
      in: path
      required: true
      schema:
        type: string
      description: Builder/flow ID
    groupId:
      name: groupId
      in: path
      required: true
      schema:
        type: integer
      description: Vector group ID

  schemas:
    ErrorResponse:
      type: object
      description: Standard error response returned by the API.
      properties:
        detail:
          type: string
          description: Human-readable error message.
          example: "Not found"

    UserSummary:
      type: object
      description: Compact user summary used in nested objects (e.g. createdBy, owner).
      properties:
        id:
          type: integer
          description: User ID.
          example: 276
        email:
          type: string
          format: email
          description: User email address.
          example: "user@example.com"
        fullName:
          type: string
          description: User display name.
          example: "John Doe"
        credit:
          type: integer
          nullable: true
          description: User credit balance.
        avatar:
          type: string
          nullable: true
          description: URL to user avatar image.
          example: "https://example.com/avatar.jpg"
        color:
          type: string
          description: Hex color assigned to the user for UI display.
          example: "#9c899e"
        isProfileVerified:
          type: boolean
          nullable: true
          description: Whether the user profile is verified.

    User:
      type: object
      description: Full user profile returned by /users/me.
      properties:
        id:
          type: integer
          description: Numeric user ID.
          example: 1001
        username:
          type: string
          description: Unique username.
          example: "johndoe42"
        avatar:
          type: string
          nullable: true
          description: URL to user avatar image.
          example: "https://example.com/avatar.jpg"
        numBot:
          type: integer
          description: Number of bots created by the user.
          example: 0
        email:
          type: string
          format: email
          description: User email address.
          example: "user@example.com"
        fullName:
          type: string
          description: User display name.
          example: "John Doe"
        teamSize:
          type: string
          nullable: true
          description: Team size selection from onboarding.
        companyName:
          type: string
          nullable: true
          description: Company name.
        location:
          type: string
          nullable: true
          description: User location.
        companySize:
          type: string
          nullable: true
          description: Company size range.
          example: "201 - 500"
        phoneNumber:
          type: string
          nullable: true
          description: Phone number.
        phoneCode:
          type: string
          nullable: true
          description: Phone country code.
        category:
          type: string
          nullable: true
          description: Industry category selected during onboarding.
          example: "Technology & Software"
        goalOptions:
          type: string
          nullable: true
          description: User goal selection from onboarding.
          example: "Streamline response to RFP generation"
        isActive:
          type: boolean
          description: Whether the user account is active.
          example: true
        isVerified:
          type: boolean
          nullable: true
          description: Whether the user email is verified.
        logo:
          type: string
          nullable: true
          description: Custom logo URL.
        color:
          type: string
          description: Hex color assigned to the user for UI display.
          example: "#d3c3cf"
        role:
          type: string
          description: Global user role.
          example: "Customer"
        createdBy:
          type: string
          description: Account creator role.
          example: "Customer"
        changePassword:
          type: boolean
          description: Whether the user needs to change password.
          example: false
        lastLogin:
          type: string
          format: date-time
          nullable: true
          description: Last login timestamp.
        accountType:
          type: string
          description: Account tier type.
          enum: [BASIC, PRO, ENTERPRISE]
          example: "BASIC"
        accountUniqueId:
          type: string
          description: Unique account identifier.
          example: "EvWirsqCOLLqsOusTEKz5V"
        credit:
          type: integer
          nullable: true
          description: User credit balance.
        whitelistDomain:
          type: string
          nullable: true
          description: Whitelisted domain for the account.
        createdAt:
          type: string
          format: date-time
          description: Account creation timestamp.
          example: "2025-07-30T02:46:45.251162Z"
        updatedAt:
          type: string
          format: date-time
          description: Last profile update timestamp.
          example: "2025-07-30T02:47:41.966535Z"
        onboardingData:
          type: object
          nullable: true
          description: Onboarding survey responses.
        apiKey:
          type: string
          description: User personal API key (UUID format).
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        source:
          type: string
          nullable: true
          description: Registration source.
        googleId:
          type: string
          nullable: true
          description: Google OAuth user ID.
        facebookId:
          type: string
          nullable: true
          description: Facebook OAuth user ID.
        defineYou:
          type: object
          nullable: true
          description: User role/persona selected during onboarding.
          properties:
            id:
              type: integer
              description: Persona option ID.
              example: 6
            title:
              type: string
              description: Persona title.
              example: "Engineer/Developer"
        profileInfo:
          type: object
          nullable: true
          description: Extended profile information.
        isPublicProfile:
          type: boolean
          nullable: true
          description: Whether the user profile is publicly visible.
        isProfileVerified:
          type: boolean
          nullable: true
          description: Whether the user profile is verified.

    WorkspaceSummary:
      type: object
      description: Summary of a workspace returned in list endpoints.
      properties:
        id:
          type: integer
          description: Workspace ID.
          example: 256
        workspaceName:
          type: string
          description: Display name of the workspace.
          example: "My workspace"
        subdomain:
          type: string
          description: Workspace subdomain.
          example: "myworkspace"
        role:
          type: string
          description: Current user role in this workspace.
          example: "Administrator"

    Workspace:
      type: object
      description: Full workspace details including resource usage and owner info.
      properties:
        id:
          type: integer
          description: Workspace ID.
          example: 256
        workspaceName:
          type: string
          description: Display name of the workspace.
          example: "My workspace"
        avatar:
          type: string
          nullable: true
          description: Workspace avatar URL.
        appearanceConfig:
          type: object
          nullable: true
          description: Custom appearance configuration.
        metaConfig:
          type: object
          nullable: true
          description: Metadata configuration.
        plan:
          type: string
          nullable: true
          description: Current subscription plan name.
        totalCreditsReceived:
          type: integer
          description: Total credits ever received by this workspace.
          example: 10000
        currentCredits:
          type: integer
          description: Current remaining credits.
          example: 7727
        purchaseCredits:
          type: integer
          nullable: true
          description: Credits purchased (separate from plan credits).
        subdomain:
          type: string
          description: Workspace subdomain for hosted apps.
          example: "myworkspace"
        customDomain:
          type: string
          nullable: true
          description: Custom domain for the workspace.
        createdAt:
          type: string
          format: date-time
          description: Workspace creation timestamp.
          example: "2024-03-04T11:08:00.981249Z"
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp.
          example: "2026-03-18T15:30:23.118962Z"
        totalFlowsAmount:
          type: integer
          nullable: true
          description: Total flows limit (null = unlimited).
        currentAutomationAmount:
          type: integer
          description: Current number of automation builders.
          example: 43
        currentAppAmount:
          type: integer
          description: Current number of app/form builders.
          example: 76
        currentChatbotAmount:
          type: integer
          description: Current number of chatbot builders.
          example: 34
        totalTablesAmount:
          type: integer
          nullable: true
          description: Total tables limit (null = unlimited).
        currentTablesAmount:
          type: integer
          description: Current number of database tables.
          example: 5
        totalPagesAmount:
          type: integer
          nullable: true
          description: Total pages limit (null = unlimited).
        currentPagesAmount:
          type: integer
          description: Current number of pages/documents.
          example: 5
        totalUsersAmount:
          type: integer
          nullable: true
          description: Total team members limit (null = unlimited).
        currentUsersAmount:
          type: integer
          description: Current number of team members.
          example: 7
        totalVectorAmount:
          type: integer
          nullable: true
          description: Total vector storage limit (null = unlimited).
        currentVectorAmount:
          type: number
          format: double
          description: Current vector storage usage.
          example: 0.000816
        totalStorageAmount:
          type: integer
          nullable: true
          description: Total file storage limit (null = unlimited).
        currentStorageAmount:
          type: number
          format: double
          description: Current file storage usage in MB.
          example: 0.246
        featureRemoveLogo:
          type: boolean
          description: Whether the workspace can remove Diaflow branding.
          example: true
        featureCustomDomain:
          type: boolean
          description: Whether the workspace can use a custom domain.
          example: true
        owner:
          $ref: "#/components/schemas/UserSummary"

    WorkspaceMembership:
      type: object
      description: Current user membership details within a workspace.
      properties:
        id:
          type: integer
          description: Membership record ID.
          example: 9794
        workspaceId:
          type: integer
          description: Workspace ID.
          example: 256
        userId:
          type: integer
          description: User ID.
          example: 4606
        role:
          type: string
          description: User role within the workspace.
          enum: [Owner, Administrator, Editor, Viewer]
          example: "Administrator"
        lastLogin:
          type: string
          format: date-time
          nullable: true
          description: Last login timestamp for this workspace.
        builders:
          type: array
          nullable: true
          description: Builders accessible to this member (null = all).
          items:
            type: object
        createdAt:
          type: string
          format: date-time
          nullable: true
          description: Membership creation timestamp.
        updatedAt:
          type: string
          format: date-time
          nullable: true
          description: Last membership update timestamp.
        user:
[...]
